body {
    margin: 0;
    padding: 0;
    font-family: monospace, monospace;
    color: #fff;
    background-color: #000;
}

header h1, header nav a {
    font-size: 1.25rem;      /* Set desired size */
    font-family: monospace, monospace !important;
    color: #fff;
    display: inline-block;   /* Ensure both are inline-block so they behave similarly */
    text-decoration: none;
}

header h1 {
    word-spacing: -0.5rem;
}

header nav {
    word-spacing: 1.5rem;
}

header img#icon {
    width: 60px;
    height: auto;
    margin-right: -20rem;
}

header {
    position: sticky;
    top: 0;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem; /* 1rem of vertical padding, 2rem of horizontal padding */
}

main {
    padding: 2rem;
}

#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#home h1 {
    font-size: 3rem;
}

#home h1, h4 {
    margin:0;
}

#ball3D {
    max-width: 50%; /* Adjust as needed */
    height: 200px; /* Set appropriate height */
}

#about {
    /* padding: 2rem; */
    /* font-family: Helvetica, Arial, sans-serif; */
}

#about h1 {
    color: #a167ff
}

#contact h1, h5 {
    margin: 0.25rem;
}

#contact h1 {
    color: #ffb120;
}