body {
    margin: 0;
    padding: 0;
    font-family: monospace, monospace;
    color: #fff;
    background-color: #000;
}

header#header-title h2, header nav a {
    font-family: monospace, monospace !important;
    color: #fff;
    display: inline-block;   /* Ensure both are inline-block so they behave similarly */
    text-decoration: none;
}

header#header-title h2 {
    word-spacing: -0.5rem;
}

#header-title {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

header nav {
    word-spacing: 1.5rem;
    font-size: 1.25rem;      /* Set desired size */
}

header img#icon {
    width: 60px;
    height: auto;
    margin-right: 1rem;
}

header {
    position: sticky;
    top: 0;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem; /* 1rem of vertical padding, 2rem of horizontal padding */
}

main {
    padding: 2rem;
}

#home {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), 
                      url('../images/codebg.png');
    background-color: #000; /* Base background color */
    background-repeat: no-repeat; /* Prevent tiling */
    background-size: cover; /* Ensure the image covers the section */
    background-position: center; /* Center the image */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


#home h1 {
    font-size: 3rem;
}

#home h1, h4 {
    margin:0;
}

#ball3D {
    position: relative;
    width: 300px; /* Adjust as needed */
    height: 300px; /* Set appropriate height */
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading {
    position: absolute; /* center within ball3D */
    color:#fff;
    font-size: 1rem;
    font-family: monospace, sans-serif;
    z-index: 10; /* ensure its above the ball's canvas */
    text-align: center;
}

#home-text h1 {
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(23),
        cursor .4s step-end infinite alternate;
}

/* cursor blinking */
@keyframes cursor {
    50% { border-color: transparent}
}

/* typing effect */
@keyframes typing {
    from { width: 0 }
}

#home-text, #ball3D {
    margin: 1rem;
}

#about {
    /* padding: 2rem; */
    /* font-family: Helvetica, Arial, sans-serif; */
}

#about h1 {
    color: #a167ff
}

#contact h1, h5 {
    margin: 0.25rem;
}

#contact h1 {
    color: #ffb120;
}